.herder-container {
    height:800px;
    position:relative;
    background-image: url(../../../images/chairBg.png);
    background-size: cover;
}
.herder-container::after{
    height:700px;
    content:' ';
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    background-color: #3A4256;
    z-index: -1;
}